* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    
      
}
body {
    background-image: url("/images/loft-design.jpg");
    /*background-color: #cccccc; */
    
     }
